/* Genel Stil */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Başlık Stili */
header {
    background-color: #e16363; /* Menü arka plan rengi */
    color: white;
    padding: 20px;
    text-align: center;
}

/* Menü Stili */
nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline; /* Yan yana getiriyor */
    margin: 0 15px; /* Butonlar arasına boşluk koyuyor */
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline; /* Üzerine gelince altı çizili olur */
}
